html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #1a1a1a;
  // background: grey;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f3f5f9;
  // line-height: 150%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
